migrations
.idea/
.vscode/
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__/
media_root/
MANIFEST
dist/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
db.sqlite3
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
/contenedores/
migrations
media/facturas_pdf
.env

